<html!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- lien de bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!--lien pour les icones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />
        
    <!-- notre  fichier css -->
    <link rel="stylesheet" type="text/css" href="\static\style.css">
    <title>Seismos || Se connecter</title>

<body class="BODY">
    

  

    <section class="vh-100 gradient-custom justify-content-center" >
      <div class="container h-100 justify-content-center" style="position:absolute; top:0; left:0; width:100%; height:100%; ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white card-custom">
              <div class="card-body  px-5 py-3 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
    
                  <h2 class="fw-bold mb-2 text-uppercase">S'authentifier</h2>
                  <p class="text-white-50 mb-5">Veuillez entrer votre nom d'utilisateur et votre mot de passe s'il vous plaît !</p>
                  
                  {% if error %}
                    <div>
                      <i class="fa-solid fa-triangle-exclamation" style="color: #ba1212;font-size: 30px; display: inline-block; vertical-align: middle;"></i>
                      <p class="error mt-md-4 NoError" style="display: inline-block; vertical-align: middle;">{{ error }}</p>
                    </div>
                    {% endif %} 
                    
                  <form action="/auth" method="POST">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="Email">E-mail</label>
                    <input type="email" id="Email" name="Email" class="form-control " autocomplete="off"/>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="Password">Mot De Passe</label>
                    <input type="password" id="Password" name="Password" class="form-control " />
                  </div>



                  

         
                  <!--<button class="btn btn-outline-light btn-lg px-5" type="submit">Se connecter</button>-->
                  <input type="submit" class="submit btn btn-outline-light btn-lg px-4" value="Se connecter"> 
                     
                </form>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>    